# AI Decision-Tree Agent Environment Configuration

BEARER_TOKEN=

BASE_API_URL=https://dt-agent-support.divyanshgolyan.workers.dev

DATABASE_PATH=app_data.db

BACKEND_PORT=8000

FRONTEND_PORT=3000

OPEN_ROUTER_API_KEY=
